html body {
    height: 100%;
    width: 100%;
    background-color: #3c3c3c;
    display: flex;
}

.white {
    color: white;
}

#createCharacter {
    background-color: darkgray;
    height: 50%;
    width: 50%;
}

#mainWindow {
    background-color: darkgray;
    position: relative;
    height: 80%;
    width: 50%;
}

#inventory {
    position: absolute;
    left: auto;
    width: 20%;
    height: 65%;
    border: 3px solid blue;
}

#options {
    border: 3px solid blue;
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 34%;
}

#bigWindow {
    position: absolute;
    right: 0;
    width: 79%;
    height: 65%;
    border: 3px solid blue;
}
#smallConsole{
    background-color: darkgray;
    position: relative;
    height: 60%;
    width: 20%;
    overflow: scroll;
    margin-left: 10px;
}
.block {
    display: block;
    width: 50%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.block:hover {
    background-color: crimson;
}