html body {
    height: 100%;
    width: 100%;
    background-color: #3c3c3c;
    overflow-y: hidden;
    overflow-x: hidden;
}

.white {
    color: white;
}

#createCharacter {
    text-align: center;
    background-color: darkgray;
    margin: 0px auto 0px auto;
    height: 50%;
    width: 50%;
}

.center-block {
    margin: auto;
    display: block;
}

#mainWindow {
    background-color: darkgray;
    display: grid;
    grid-template-columns: [inv-start] 25% [big-start] auto [log-start] 25%;
    grid-template-rows: 50% auto [option-start] 34% [option-end];
    height: 100%;
    width: 100%;
}

#inventory {
    grid-column: inv-start / big-start;
    grid-row: 1 / option-end;
}

#options {
    grid-column: big-start / log-start;
    grid-row: option-start / 4;
    display: flex;
    font-size: 25vw;
}

#bigWindow {
    grid-column: big-start / log-start;
    grid-row: 1 / option-start;
}

#smallConsole {
    background-color: darkgray;
    grid-column: log-start / -1;
    grid-row: 1 / option-end;
    overflow-y: scroll;
    margin: 1pt;
}

.block {
    display: block;
    width: 50%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.block:hover {
    background-color: crimson;
}

#stat td,
tr {
    font-size: 14pt;
    line-height: 14pt;
    padding: 0pt 0pt 0pt 0pt;
    margin: 0pt 0pt 0pt 0pt;
}

#stat tr>td:nth-child(1) {
    background-color: black;
    color: whitesmoke;
    padding-right: 1em;
}

#stat tr>td:nth-child(2) {
    background-color: whitesmoke;
    color: black;
    padding-right: 1em;
}

#healthBar {
    border: 3px black;
}

#healthRed {
    background-color: #dc0700;
    width: 100%;
    height: 10%;
}

#healthGreen {
    background-color: #4CAF50;
    width: 100%;
    height: 100%;
}